*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0px;
}

.container-page {
  display: flex;
  justify-content: center;
}

.header {
  position: absolute;
  text-align: center;
  display: flex;
  background-image: url("../images/pattern-bg-desktop.png");
  background-size: cover;
  width: 100%;
  height: 300px;
  justify-content: center;
}

#map {
  position: absolute;
  width: 100%;
  height: 71%;
  bottom: 0px;
  z-index: -1;
}

.header h1 {
  font-family: "rubik";
  color: #fff;
  margin-top: 30px;
  height: 50px;
}

.nav {
  position: absolute;
  margin-top: 90px;
  display: flex;
  text-align: center;
  width: 30%;
  height: 100px;
  align-items: center;
  padding-left: 80px;
}

form {
  position: relative;
  width: 30rem;
  height: 3.5rem;
  background: #57bd84;
  border-radius: 0.7rem;
}

input, button {
  height: 3.5rem;
  font-family: "rubik";
  border: 0;
  color: hsl(0, 0%, 17%);
  font-size: 1rem;
  justify-content: center;
}

input[type=search] {
  outline: 0;
  width: 100%;
  background: #fff;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  position: absolute;
  margin: auto -240px;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 0.7rem 0.7rem 0;
  font-size: 1.5rem;
  padding: 0px;
}

input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(90% - 6rem);
  justify-content: center;
}
input:not(:placeholder-shown) + button {
  display: block;
  border: 0;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.description-bar {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  width: 70%;
  height: 170px;
  margin: 220px 250px;
  -webkit-box-shadow: 1px 18px 28px -6px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 18px 28px -6px rgba(0, 0, 0, 0.27);
}

.decrip-container {
  position: absolute;
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 60px auto;
  justify-content: center;
}

.container-item {
  position: relative;
  list-style-type: none;
  margin-right: 10px;
  width: 85%;
  height: 50px;
  border-left: 1px solid;
  border-color: hsl(0, 0%, 59%);
  padding-left: 30px;
}

.container-item p {
  font-family: "rubik";
  font-size: 0.8rem;
  color: hsl(0, 0%, 59%);
  font-weight: 500;
  letter-spacing: 2px;
  position: absolute;
  margin-top: -10px;
}

.container-item h1 {
  font-family: "rubik";
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  margin-bottom: -10px;
}

@media (max-width: 970px) {
  .header {
    background-image: url("../images/pattern-bg-desktop.png");
  }
  .description-bar {
    width: 400px;
    height: 370px;
  }
  .decrip-container {
    display: block;
    margin: 40px auto;
  }
  .container-item {
    display: flex;
    width: auto;
    margin: 20px 0px;
    padding: 0px;
    border: 0px;
    justify-content: center;
  }
  .nav {
    width: 60%;
    padding-left: 0px;
  }
  button {
    width: 4.5rem;
    font-size: 1.5rem;
  }
  input[type=search] {
    width: 100%;
    margin: auto -180px;
  }
  input:not(:placeholder-shown) {
    width: calc(100% - 6rem);
  }
}
